.main-container{
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 64px);
	position: relative;
}

md-sidenav{
	background-color: #03a9f4; }
	.sidenav-nav{
		width: 250px;
		max-width: 250px; 
	}

